form {
  margin-top: 2.5rem;
}

fieldset {
  border: none;
  display: grid;
  gap: 1.5rem;
}

legend {
  font: var(--title-sm);
  color: var(--text-heading);
  margin-bottom: 1.5rem;
  display: flex;
  gap: 0.75rem;
}

label {
  font: var(--text-sm);
  color: var(--text-body);
}

fieldset + fieldset {
  margin-top: 3rem;
}

input,
textarea,
select {
  width: 100%;
  min-height: 3.1875rem;
  margin-top: 0.75rem;
  border-radius: 0.5rem;
  border: 2px solid var(--input-stroke);
  padding: 0.75rem 1rem;
  font: var(--text);
  background-color: var(--input-base);
  color: var(--text-heading);
  font: var(--text-md);

  &::placeholder {
    color: var(--input-placeholder);
    font: var(--text-md);
  }

  &:focus-within {
    outline: none;
    border: 1px solid var(--brand-light);
  }

  &[type="date"] {
    color: var(--input-placeholder);
    font: var(--text-md);
    text-transform: uppercase;
  }

  &[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 1rem;
}

.radio-group {
  margin-top: 0.75rem;
  display: flex;
  border: 2px solid var(--input-stroke);
  border-radius: 0.5rem;
  background-color: var(--input-base);
  z-index: 0;

  & .radio-inner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.75rem;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 3px solid var(--input-base);
  }

  & .radio-inner input[type="radio"] {
    opacity: 0;
    position: absolute;
  }

  .radio-inner label,
  .radio-inner svg > path {
    transition: all 0.4s ease;
    color: var(--input-placeholder);
    cursor: pointer;
  }

  .radio-inner:has(input:checked) {
    background-color: var(--input-stroke);
  }
  .radio-inner:has(input:checked) label {
    font-weight: 600;
  }

  .radio-inner:has(input:checked) svg > path {
    fill: var(--brand-light);
  }
}

.radio-group-colors {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;

  & .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--shape-button);
    border-radius: 50%;
    position: relative;

    &:has(input:checked) {
      border: 2px solid var(--brand-light);
    }

    & input[type="radio"] {
      min-height: initial;
      width: 100%;
      height: 100%;
      opacity: 0;
      top: 0;
      left: 0;
      position: absolute;
      cursor: pointer;
      z-index: 2;
    }

    & img {
      width: 1.75rem;
      height: 1.75rem;
      z-index: 1;
    }
  }
}


.grid-theme {
margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 0.75rem;
  justify-items: center;

  & .card {
    background-color: var(--shape-button);
    border-radius: 0.5rem;
    border: 1px solid var(--input-stroke);
    position: relative;

    &:has(input:checked) {
      border: 2px solid var(--brand-light);
    }

    & input[type="radio"] {
      min-height: initial;
      width: 100%;
      height: 100%;
      opacity: 0;
      top: 0;
      left: 0;
      position: absolute;
      cursor: pointer;
      z-index: 2;
    }

    & img {
      margin: 0.25rem;
    }

    & p {
      margin: 0.25rem 0.25rem 0.5rem;
      font: var(--text-sm);
      color: var(--text-heading);
      text-align: center;
    }
  }
}
