.grid-theme {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 0.75rem;
  justify-items: center;

  & .card {
    background-color: var(--shape-button);
    border-radius: 0.5rem;
    border: 1px solid var(--input-stroke);
    position: relative;

    &:has(input:checked) {
      border: 2px solid var(--brand-light);
    }

    & input[type="radio"] {
      min-height: initial;
      width: 100%;
      height: 100%;
      opacity: 0;
      top: 0;
      left: 0;
      position: absolute;
      cursor: pointer;
      z-index: 2;
    }

    & img {
      margin: 0.25rem;
    }

    & p {
      margin: 0.25rem 0.25rem 0.5rem;
      font: var(--text-sm);
      color: var(--text-heading);
      text-align: center;
    }
  }
}