#app {
    display: grid;
    grid-template-columns: 33.33% 66.67%;

    background-color: #1e1e1e;
    height: 100vh;
    overflow: hidden;
}

aside {
 
  background-image: url(../assets/Background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 1.25rem;
  border-radius: 0.75rem;

  img {
    width: 3rem;
    height: 3rem;
  }

  h1 {
    font: var(--logo);
    color: var(--accent-pink);
  }

  P {
    color: var(--text-heading);
    font: var(--text-md);
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 2rem;
  }
}

main{
    margin: 1.25rem;
    border-radius: 0.75rem;
    background-color:  var(--shape-body);
}
