.style-options {
  display: flex;
  gap: 1rem;
  margin-top: 24px;
  align-items: center;
  
}

.switch-container {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  height: 2.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
}

.switch input {
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--input-base);
  border-radius: 24px;
  transition: 0.4s;
  border: 1px solid var(--input-stroke);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 0.25rem;
  bottom: 0.1875rem;
  background-color: var(--input-stroke);
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--brand-light);
}
input:checked + .slider:before {
  transform: translateX(24px);
  background-color: var(--text-heading);
}

.text {
  color: var(--text-heading);
  font: var(--text-md);
}

.text::before {
  content: "Escuro";
  color: var(--text-heading);
  font: var(--text-md);
}

.switch:has(input:checked) + .text::before {
  content: "Claro";
}

.file-upload-wrapper {
  margin-top: 0.875rem;
  display: flex;
  align-items: center;
  gap: 12px;
}

.file-upload-wrapper input[type="file"] {
  display: none;
}

.btn-upload {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
  background-color: var(--shape-button);

  border-radius: 8px;
  color: var(--text-heading);
  cursor: pointer;
  font-weight: 600;
}

.file-name {
  color: var(--input-placeholder);
  font: var(--text-md);
}