.terms {
  margin-top: 40px;
}
.terms-wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.75rem;

  input {
    margin: 0;
    width: 20px;
    height: 20px;
    min-height: initial;
  }

  label {
    font: var(--text-sm);
    color: var(--text-body);

    a {
      color: var(--brand-light);
    }
  }
}
